/* { font-family: 돋움,Verdana; font-size: 12px;} */
 *{ font-family: arial unicode,Verdana, 굴림; font-size: 12px;}
A:link           {text-decoration:none; color:#4F4F4F}
A:visited        {text-decoration:none; color:#4F4F4F}
A:active         {text-decoration:none; color:#4F4F4F}
A:hover          {text-decoration:none; color:#076EBE}
.Contents{ margin-left:150px; background-color:White; width:695px; clear:right; height:100%; padding:20px;}
.ContentsTopMenu {
	background-color: White;
	width: 850px;
	padding: 5px 25px 25px 25px;
}
.Line2C93A9B8{border-bottom:solid 2px #93A9B8; text-align:center; }
.Line1E8E8E8{border-bottom:dotted 1px #E8E8E8;}
.THead1{border-bottom:solid 2px #93A9B8; text-align:center; background-color:#E8E8E8; }
.TBody1{text-align:center; border-bottom:dotted 1px #93A9B8; padding-top:4px; padding-bottom:4px; }
.TBody1G{text-align:center; border-bottom:dotted 1px #93A9B8; padding-top:4px; padding-bottom:4px;background-color:#FFFACD; }
.TBody1B{text-align:center; border-bottom:dotted 1px #93A9B8; padding-top:4px; padding-bottom:4px;background-color:#F0F8FF; }
.TBody1R{text-align:center; border-bottom:dotted 1px #93A9B8; padding-top:4px; padding-bottom:4px;background-color:#D8BFD8; }
.fl {float:left;}
.cb{clear:both;}
.MemberBody{background-color:#E4E4E4; width:900px; margin:0 auto; padding-top:10px; overflow:visible;}
.UnderLineBlue{border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: #93A9B8; }
.UnderLineDotted{border-bottom-style:dotted; border-bottom-color:#E8E8E8; border-bottom-width:1px;padding-top:4px; padding-bottom:4px; }

#cssmenu ul {margin: 0; padding: 7px 6px 0; background: #7d7d7d url(../Images/overlay.png) repeat-x 0 -110px; line-height: 100%; border-radius: 1em; font: normal .8em/1.5em Arial, Helvetica, sans-serif; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4); -moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);}
#cssmenu li {margin: 0 5px; padding: 0 0 9px; float: left; position: relative; list-style: none; }
#cssmenu a,
#cssmenu a:link {font-weight: bold; color: #e7e5e5; text-decoration: none; display: block; padding:  8px 20px; margin: 0; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;	 text-shadow: 0 1px 1px rgba(0,0,0, .3); }
#cssmenu a:hover {background: #000; color: #fff;}
#cssmenu .active a, 
#cssmenu li:hover > a {background: #666 url(../Images/overlay.png) repeat-x 0 -40px; color: #444; border-top: solid 1px #f8f8f8; -webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2); -moz-box-shadow: 0 1px 1px rgba(0,0,0, .2); box-shadow: 0 1px 1px rgba(0,0,0, .2); text-shadow: 0 1px 0 rgba(255,255,255, 1); }
#cssmenu ul ul li:hover a,
#cssmenu li:hover li a {background: none; border: none; color: #666; -webkit-box-shadow: none; -moz-box-shadow: none;}
#cssmenu ul ul a:hover {background: #8f8f8f url(../Images/overlay.png) repeat-x 0 -100px !important; color: #fff !important; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-shadow: 0 1px 1px rgba(0,0,0, .1);}
#cssmenu li:hover > ul {display: block;}
#cssmenu ul ul {display: none; margin: 0; padding: 0; width: 185px; position: absolute; top: 40px; left: 0; background: #ddd url(../Images/overlay.png) repeat-x 0 0; border: solid 1px #b4b4b4; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3); -moz-box-shadow: 0 1px 3px rgba(0,0,0, .3); box-shadow: 0 1px 3px rgba(0,0,0, .3);}
#cssmenu ul ul li {float: none; margin: 0; padding: 3px; }
#cssmenu ul ul a {font-weight: normal; text-shadow: 0 1px 0 #fff; }
#cssmenu ul:after {content: '.'; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
* html #cssmenu  ul {height: 1%;}